src/main/resources/META-INF/schema/splunk-blueprint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:pronoia.com/schema/blueprint/splunk"
        xmlns:tns="urn:pronoia.com/schema/blueprint/splunk"
        elementFormDefault="qualified">

    <!--
        NOTE:  The types for all of the attributes are xs:string to allow the use of Blueprint CM Property Placeholders.
     -->

    <xs:element name="splunk-client">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="event-fields" type="tns:tEventFields" minOccurs="0" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="host" type="xs:string" use="required"/>
            <xs:attribute name="port" type="xs:string" default="8088"/>
            <xs:attribute name="authorization-token" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>
                        May want to have a list of tokens? Or use token-id's?
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="validate-certificates" type="xs:string" default="true"/>
            <xs:attribute name="use-ssl" type="xs:string" default="true"/>
            <xs:attribute name="depends-on" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        May want to change this to use the TdependsOn type from the Blueprint schema
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="splunk-jmx-attribute-change-monitor">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="observed-object" type="xs:string" maxOccurs="unbounded"/>
                <xs:element name="observed-attributes" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            The list of attributes that will be included in the difference calculation.

                            If this is not specified, all attributes will be observed except the specifically excluded attributes?
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="attribute" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="collected-attributes" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Attributes that will be collected and delivered to Splunk, but not used in the difference calculation?
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="attribute" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="excluded-attributes" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Attributes that will be excluded from the difference calculation?

                            TODO: Check to see if they will still be delivered to Splunk.
                            TODO: Check to see if they will still be applied if observed-attributes is set (I think this attribute is ignored if observed-attributes is specified)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="attribute" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="splunk-event" minOccurs="0">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="tns:tEventFields">
                                <xs:attribute name="include-null-attrs" type="xs:string"/>
                                <xs:attribute name="include-empty-attrs" type="xs:string"/>
                                <xs:attribute name="include-zero-attrs" type="xs:string"/>
                                <xs:attribute name="include-empty-list" type="xs:string"/>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>

            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="splunk-client-id" type="xs:NCName" />
            <xs:attribute name="granularity-period" type="xs:unsignedInt">
                <xs:annotation>
                    <xs:documentation>
                        How often to poll for changes
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="max-suppressed-duplicate-events" type="xs:int">
                <xs:annotation>
                    <xs:documentation>
                        The maximum number of duplicate events that will be suppressed - used to guarantee a minimum event cadence.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="depends-on" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        May want to change this to use the TdependsOn type from the Blueprint schema
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="splunk-jmx-notification-listener">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="source-mbean" type="xs:string" maxOccurs="unbounded"/>
                <xs:element name="splunk-event" minOccurs="0">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="tns:tEventFields">
                                <xs:attribute name="include-null-attrs" type="xs:boolean"/>
                                <xs:attribute name="include-empty-attrs" type="xs:boolean"/>
                                <xs:attribute name="include-empty-list" type="xs:boolean"/>

                                <xs:attribute name="include-notification-message" type="xs:boolean"/>
                                <xs:attribute name="include-notification-sequence-number" type="xs:boolean"/>
                                <xs:attribute name="include-notification-source" type="xs:boolean"/>
                                <xs:attribute name="include-notification-type" type="xs:boolean"/>
                                <xs:attribute name="include-user-data" type="xs:boolean"/>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>

            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="splunk-client-id" type="xs:string" />
            <xs:attribute name="depends-on" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        May want to change this to use the TdependsOn type from the Blueprint schema
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="splunk-embedded-activemq-message-consumer-factory">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="destination-pattern">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="destination-type" use="required">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="Queue"/>
                                            <xs:enumeration value="Topic"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="splunk-event" minOccurs="0">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="tns:tEventFields">
                                <xs:attribute name="include-jms-destination" type="xs:string"/>
                                <xs:attribute name="include-jms-delivery-mode" type="xs:string"/>
                                <xs:attribute name="include-jms-expiration" type="xs:string"/>
                                <xs:attribute name="include-jms-priority" type="xs:string"/>
                                <xs:attribute name="include-jms-message-id" type="xs:string"/>
                                <xs:attribute name="include-jms-timestamp" type="xs:string"/>
                                <xs:attribute name="include-jms-correlation-id" type="xs:string"/>
                                <xs:attribute name="include-jms-reply-to" type="xs:string"/>
                                <xs:attribute name="include-jms-type" type="xs:string"/>
                                <xs:attribute name="include-jms-redelivered" type="xs:string"/>
                                <xs:attribute name="include-jms-properties" type="xs:string"/>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>

            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="splunk-client-id" type="xs:NCName" />
            <xs:attribute name="jms-user-name" type="xs:string" />
            <xs:attribute name="jms-password" type="xs:string" />
            <xs:attribute name="depends-on" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        May want to change this to use the TdependsOn type from the Blueprint schema
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="splunk-embedded-activemq-advisory-message-consumer-factory">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="destination-pattern">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="destination-type" use="required">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="Queue"/>
                                            <xs:enumeration value="Topic"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="splunk-event" minOccurs="0">
                    <xs:complexType>
                        <complexContent>
                            <extension base="tns:tEventFields">
                                <xs:attribute name="include-jms-destination" type="xs:string"/>
                                <xs:attribute name="include-jms-delivery-mode" type="xs:string"/>
                                <xs:attribute name="include-jms-expiration" type="xs:string"/>
                                <xs:attribute name="include-jms-priority" type="xs:string"/>
                                <xs:attribute name="include-jms-message-id" type="xs:string"/>
                                <xs:attribute name="include-jms-timestamp" type="xs:string"/>
                                <xs:attribute name="include-jms-correlation-id" type="xs:string"/>
                                <xs:attribute name="include-jms-reply-to" type="xs:string"/>
                                <xs:attribute name="include-jms-type" type="xs:string"/>
                                <xs:attribute name="include-jms-redelivered" type="xs:string"/>
                                <xs:attribute name="include-jms-properties" type="xs:string"/>
                            </extension>
                        </complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>

            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="splunk-client-id" type="xs:NCName" />
            <xs:attribute name="jms-user-name" type="xs:string" />
            <xs:attribute name="jms-password" type="xs:string" />
            <xs:attribute name="depends-on" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        May want to change this to use the TdependsOn type from the Blueprint schema
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="tEventFields">
        <xs:sequence>
            <xs:element name="constant-field" type="tns:tConstantField" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="environment-variable" type="tns:tEnvironmentVariableField" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="system-property" type="tns:tSystemPropertyField" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="index" type="xs:string"/>
        <xs:attribute name="source" type="xs:string"/>
        <xs:attribute name="sourcetype" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="tConstantField">
        <xs:attribute name="field" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="tEnvironmentVariableField">
        <xs:attribute name="variable" type="xs:string" use="required"/>
        <xs:attribute name="field" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="tSystemPropertyField">
        <xs:attribute name="property" type="xs:string" use="required"/>
        <xs:attribute name="field" type="xs:string"/>
    </xs:complexType>


</schema>